.container{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .search{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search i{
    font-size: 25px;
    color: #111;
  }
  
  .search-txt{
    display: flex;
    align-items: center;
  }
  
  .search-txt i{
    font-size: 40px;
    color: #f8010a;
  }
  
  .search-txt h2{
    color: #111;
    font-size: 30px;
    margin-left: 10px;
    
  }
  
  .movies{
    padding: 50px;
  }
  
  .movies h2{
    color: black;
    font-size: 25px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 600;
  }

  .movies span{
    font-size: 35px;
    text-decoration: underline;
  }
  
  .swiper{
    width: 100%;
  }
  
  .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
    
  }
  
  .swiper-slide img{
    display: block;
    width: 100%;    
    transition: all 500ms ease-out;
  }




  .swiper-slide figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4874c1;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 5px;
  }

  .swiper-slide figure:hover > .capa{
    opacity: 1;
    visibility: visible;
  }

  .swiper-slide figure:hover > .capa{
    margin-top: 0px;
    margin-bottom: 0;
  }

  .swiper-slide figure:hover > .capa h3{
    color: #fff;
    font-weight: 400px;
    margin-bottom: 40px;
    transition: all 500ms ease-out;
    margin-top: 30px;
  }

  .swiper-slide figure:hover > img{
    transform: scale(1.3);
    opacity: 0;
  }

  .swiper-slide figure:hover > .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
  }



  .icons{
    
    display: flex;
    justify-content: space-between;
  }

  .icons i{
    font-size: 25px;
    color: #111;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons i:hover{
    color: #4874c1;
    background-color: #fefefe;    
    cursor: pointer;
  }

  .btn_consolas{
    margin-bottom: 40px;
  }

@media(max-width:991px) {
  body{
    min-height: 0vh;
  }

  .search{
    padding: 30px 30px 0 30px;
  }

  .movies{
    padding: 30px;
  }

  .movies h2{
    font-size: 20px;
  }

  .movies span{
    font-size: 20px;
  }

  .icons{
    padding: 30px;    
  }

  .btn_consolas{
    padding-right: 50px;
  }
  
  
}